@charset "UTF-8";

html,body{
  height: 100%;
}

.aqua-back{
  height: 100%;
  background-color: #cff1ff;
  overflow: auto;
}

.main-box{
  height: 100%;
  width: 600px;
  margin: auto;
}

.title{
  text-align: center;
  font-size: 28px;
  padding: 50px;
}

.sky-box{
  background-color: #ecfaff;
}

form{
  padding: 50px;
  
}

.account-create{
  text-align: center;
  font-size: 28px;
}

.box-input{
  margin-top: 50px;
}

h3{
  font-size: 20px;
}

.form-label{
  margin-top: 25px;
  color: #545658;
}

.label-font{
  font-size: 14px;
  color: #545658;
  
}

.red{
  color: #e40000;
  font-size: 8px;
}



.input-text{
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  height: 35px;
  padding: 5px;
  border: 1px solid #d9d9d9;
  
}

.input-text:focus{
  outline: solid 2px #cff1ff;
}

.input-box{
  margin-top: 10px;
  display: flex;
}

.age-select{
  width: 100%;
}

select:invalid {
  color: #757575;
}


.gender-box{
  padding-left: 20px;
  margin-right: 20px;
}

.gender-box:last-child{
  margin-right: -20px;
}

.radio-box{
  display: none;
}

.letter{
  position: relative;
  padding-left: 15px;
}

.letter::before,.letter::after{
  content: "";
  position: absolute;
  display: flex;
  top: 50%;
  transform: translate(-50% ,-50%);
  
}

.letter::before{
  border-radius: 50%; 
  border: 1px solid #d9d9d9;
  background-color: #fbfbfb;
  height: 16px;
  width: 16px;
}

.radio-box:checked + .letter::after{
  border-radius: 50%;
  background-color: #017cbf;
  height: 8px;
  width: 8px;
  
}


.check-mark{
  display: none;
}

.service{
  display: flex;
  position: relative;
  padding-left: 25px;
  
}

.service::before,.service::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.service::before{
  border: 1px solid #d9d9d9;
  background-color: #fbfbfb;
  height: 16px;
  width: 16px;

}

.check-mark:checked + .service::after{
  border-bottom: 3px solid #0140bf;
  border-right: 3px solid #0140bf;
  height: 13px;
  width: 6px;
  left: 6px;
  margin-top: -3px;
  transform: rotate(45deg);
} 

.account-send{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  line-height: 50px;
  background-color: #0170bf;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #0170bf;
}

.account-send:active{
  background-color: #ffffff;
  color: #0170bf;
  border: 1px solid #ffffff;
}

.caution{
  margin-top: 30px;
  font-size: 5px;
}

.link-blue{
  color: #0170bf;
  text-decoration:none;
}

